<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    Safehavn: "<%= image_path('SafeHavn.png') %>",
    avatar: "<%= image_path('avatar.png') %>",
    email: "<%= image_path('email.png') %>",
    lock: "<%= image_path('lock.png') %>",
    cross: "<%= image_path('cross.png') %>",
    users: "<%= image_path('users.png') %>",
    magnify: "<%= image_path('magnify.png') %>",
    calendar: "<%= image_path('calendar.png') %>",
    downarrow: "<%= image_path('downarrow.png') %>",
    checin: "<%= image_path('checin.png') %>",
    chempty: "<%= image_path('chempty.png') %>",
    home2: "<%= image_path('home2.jpg') %>",
    cutlery: "<%= image_path('cutlery.png') %>",
    bed: "<%= image_path('bed.png') %>",
    house: "<%= image_path('house.png') %>",
    wifi: "<%= image_path('wifi.png') %>",
    parking: "<%= image_path('home2.png') %>",
    family: "<%= image_path('home2.png') %>",
    bedrooms: "<%= image_path('bedrooms.png') %>",
    guests: "<%= image_path('guests.png') %>",
  }



</script>

<main id="root"></main>
